@import './variables.scss';

#wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px 10px;

  background-color: $light-gray;

  border: solid 1px rgb(0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5)
}

h1 {
    color: red;
    padding-right: 1rem;
}